@charset "UTF-8";
/** NAVBAR **/
nav {
  background-color: #219ebc;
}
nav .navbar-brand .nav__logo {
  width: 120px;
}
nav .navbar__itemsdiv {
  justify-content: flex-end;
}
nav .navbar__itemsdiv .nav-link {
  color: #023047;
  font-weight: 300px;
  padding: 3px;
  transition: all 1s;
  zoom: normal;
  border-bottom: none;
  font-size: 1.3rem;
}
nav .navbar__itemsdiv .nav-link:hover {
  border-radius: 10px;
  background-color: rgba(251, 134, 0, 0.8705882353);
  font-size: 1.6rem;
}
nav .navbar__itemsdiv .disabled {
  color: #edede9;
}

/*ESTILOS UNIVERSALES*/
body {
  background-color: #bde0fe;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}
body h1, body h3 {
  font-family: "Kanit", sans-serif;
  margin: 10px;
}
body h2 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  margin: 10px;
}
body h3 {
  font-size: 1.3rem;
}
body p {
  font-size: 1.15rem;
  margin: 10px 30px;
}
body ul {
  list-style: none;
}
body .func-button {
  border-radius: 7px;
  font-size: 1rem;
  transition: all 1s;
}
body .func-button:hover {
  border-radius: 10px;
  background-color: #ffb703;
  font-size: 1.2rem;
}

.index-list {
  padding: 0%;
  margin: 0px;
}
.index-list li {
  padding: 0%;
  margin: 0%;
}

.below-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  /**************SVG****************/
  /* SVG animations */
}
.wrapper .cta {
  display: flex;
  padding: 7px 10px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  color: #edede9;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}
.wrapper .cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #ffb703;
}
.wrapper .cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}
.wrapper .cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 25px;
}
.wrapper span {
  transform: skewX(15deg);
}
.wrapper span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}
.wrapper span svg {
  width: 40px;
  height: 20px;
}
.wrapper path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}
.wrapper path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}
.wrapper .cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}
.wrapper .cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
.wrapper .cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}
@keyframes color_anim {
  0% {
    fill: #edede9;
  }
  50% {
    fill: #ffb703;
  }
  100% {
    fill: #edede9;
  }
}

.table_students {
  width: 100%;
}
.table_students tr th {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #023047;
  margin: 0;
  gap: 2px;
}
.table_students tr td {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  color: #023047;
}
.table_students tr td .student_name {
  width: 200px;
}
.table_students tr td .nota {
  width: 150px;
}

.button_section .upper {
  gap: 20px;
  margin: 20px;
}
.button_section div {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin: 6px;
  font-size: inherit;
  line-height: 1.42;
  padding: 0.7em 1.4em;
  font-weight: normal;
  border-width: 3px;
  border-style: solid;
  background: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  transform: translate(0.5em 0.4em);
  transition: transform;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  transform: skewX(-30deg);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}
.btn::before {
  background-color: #06d6a0;
  top: -0.5rem;
  left: 0rem;
}
.btn::after {
  background-color: #118ab2;
  top: 0.5rem;
  left: 6.5rem;
}
.btn:hover::before, .btn:hover::after {
  top: 0;
  transform: skewx(0deg);
  height: 100%;
  width: 50%;
}
.btn:hover::after {
  left: 0rem;
}
.btn:hover::before {
  left: 13.75rem;
}

.container {
  width: auto;
  margin: auto;
}

.calc-button {
  font-family: "Kanit", sans-serif;
  background-color: #118ab2;
  color: white;
  position: relative;
  border: none;
  height: 50px;
  width: 190px;
  font-size: 0.8em;
  z-index: 2;
  transition: 0.01s 0.23s ease-out all;
  overflow: hidden;
}
.calc-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 55%;
  background: #118ab2;
  z-index: -1;
  transition: 0.3s ease-in all;
}
.calc-button:after {
  content: "";
  position: absolute;
  left: -5%;
  top: 5%;
  height: 90%;
  width: 5%;
  background: #edede9;
  z-index: -1;
  transition: 0.4s 0.02s ease-in all;
}
.calc-button:hover {
  cursor: pointer;
  color: transparent;
}
.calc-button:hover:before {
  left: 100%;
  width: 25%;
}
.calc-button:hover:after {
  left: 100%;
  width: 70%;
}
.calc-button:hover .icon-right.after:after {
  left: -80px;
  transition: 0.2s 0.2s ease all;
}

.icon-right {
  position: absolute;
  top: 0;
  right: 0;
}
.icon-right:after {
  content: "→";
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: 26px;
  transform: translate3D(0, -50%, 0);
}
.icon-right.after:after {
  left: -250px;
  color: black;
  transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
}

.btn-2 {
  color: #023047;
  cursor: pointer;
  font-size: 1em;
  line-height: 45px;
  width: 100%;
}
.btn-2:hover, .btn-2:active {
  letter-spacing: 5px;
  transition: all 280ms ease-in-out;
}
.btn-2:after, .btn-2:before {
  border: 1px solid rgba(251, 134, 0, 0);
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.btn-2:hover:after, .btn-2:hover:before {
  transition: all 280ms ease-in-out;
  width: 50%;
  left: 0;
}

.dropdown-menu {
  background-color: #8ecae6;
}
.dropdown-menu .dropdown-item:hover {
  transition: all 1s;
  background-color: #0fc796;
}

.english_section {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_try::after {
  background-color: #118ab2;
  top: 0.5rem;
  left: 2.5rem;
}
.container_try:hover::after {
  left: 0rem;
}
.container_try:hover::before {
  left: 6.1rem;
}

.container_stop::after {
  background-color: #118ab2;
  top: 0.5rem;
  left: 3.5rem;
}
.container_stop:hover::after {
  left: 0rem;
}
.container_stop:hover::before {
  left: 9.75rem;
}

/*# sourceMappingURL=styles.css.map */
