input {
    border-radius: 5px;
    border-color: antiquewhite;
    border-style: solid;
    border: 3px
}

.promediate {
    .cta {
        width: fit-content;
    }
}

.button_section {
    .upper{
        gap: 20px;
        margin-bottom: 20px;
    }
    div{
        display: flex;
        justify-content: center;

    }

}

@include btn__split;
.container {
	width: auto;
	margin: auto;
}

/////////////////////////////////

