/*ESTILOS UNIVERSALES*/
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-size: 1.2rem;

	h1, h3 {@include h_font;}
	h2 {@include h2-style;}
    h3 {font-size: 1.3rem;}
    p {
        font-size: 1.15rem;
        margin: $paragraph_margin;
    }
    ul {
        list-style: none;
    }


    .promediate-button {
        border-radius: 7px;
        font-size: 1rem;
        transition: all 1s;
        &:hover {
            border-radius: 10px;
            background-color: $background-color_4;
            font-size: 1.2rem;
        }
    }
}