$font-family_1: 'Josefin Sans', sans-serif;
$font-family_2: 'Kanit', sans-serif;

$font-color_1: #023047;
$font-colo2_2: #edede9;

$h_margins: 10px;
$paragraph_margin: 10px 30px;

$background-color_1: #bde0fe;
$background-color_2: #8ecae6;
$background-color_3: #219ebc;
$background-color_4: #ffb703;
$background-color_5: #6225E6;

$logo-size: 120px;

$border-color_1: #fb8600de;