$font-family_1: 'Josefin Sans', sans-serif;
$font-family_2: 'Rubik Dirt', cursive;
$h_margins: 10px;
$paragraph_margin: 10px 30px;

$background-color_1: #537cc5;
$background-color_2: #3264bc;
$background-color_3: #9eb2d6;
$background-color_4: #7c9cd4;

$logo-size: 120px;

$border-color_1: #537cc5;